body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --font-samarkan:"Samarkan";
  --font-bbt:"Bbt";
}

@font-face {
  font-family: "Samarkan";
  src: url("/public/Samarkan.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Bbt";
  src: url("/public/Bbt.ttf");
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
